/* Dark mode styles */

body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}

.dark-mode .navbar {
    background-color: #333;
    border-color: #333;
}

.dark-mode .card {
    background-color: #1f1f1f;
    border-color: #444;
}

.dark-mode .btn-outline-secondary {
    color: #f1f1f1;
    border-color: #f1f1f1;
}

.dark-mode .btn-outline-secondary:hover {
    background-color: #444;
    color: #fff;
}

.dark-mode .table {
    background-color: #1f1f1f;
    color: #f1f1f1;
}

.dark-mode .table th, .dark-mode .table td {
    border-color: #444;
}

.dark-mode .dropdown-menu {
    background-color: #333;
    color: #f1f1f1;
}

.dark-mode .dropdown-item:hover {
    background-color: #444;
    color: #fff;
}

.dark-mode .toast {
    background-color: #333;
    color: #f1f1f1;
}

.dark-mode .badge {
    background-color: #444;
}
