{% extends "base.html" %}

{% block title %}Student Money Mate{% endblock %}

{% block content %}
        <div class="group-info">
            <p><strong>Chris Brown</strong></p>
        </div>
        <div class="bills">
            <table>
                <tr>
                    <th>Bills</th>
                    <th>Personal Cost</th>
                    <th>Paid</th>
                    <th>Due</th>
                </tr>
                <tr>
                    <td>Rent</td>
                    <td>£300</td>
                    <td>No</td>
                    <td>10/12/23</td>
                </tr>
                <tr>
                    <td>Water</td>
                    <td>£50</td>
                    <td>Yes</td>
                    <td>4/12/23</td>
                </tr>
                <tr>
                    <td>Electricity</td>
                    <td>£20</td>
                    <td>No</td>
                    <td>23/12/23</td>
                </tr>
            </table>
        </div>
        <div class="owed-info">
            <p>You owe Emily £320</p>
            <p>You owe Kevin £6</p>
            <p>Michael owes you £4</p>
            <p>You owe Kevin £8</p>
            <p>You owe Sarah £14.50</p>
        </div>
        <div class="personal-account">
            <p><strong>PERSONAL ACCOUNT:</strong></p>
            <p>£282.12</p>
            <p><strong>SAVINGS:</strong></p>
            <p>£492.19</p>
            <p><strong>Debt:</strong></p>
            <p>£102.89</p>
        </div>
        <div class="chart">
            <img src="/static/chart.png" alt="Chart Image" style="width: 100%; height: auto;">
        </div>
        <div class="buttons">
            <button>UPDATE</button>
        </div>
    </div>
</body>
</html>
{% endblock %}